.ba-footer {
	text-align: center;
	margin-top: 30px;
}
.ba-footer-menu {
	float: none;
	display: flex;
	flex-direction: column;

	@include breakpoint(sm){
		flex-direction: row;
		justify-content: center;
	}

	@include breakpoint(md){
		justify-content: flex-start;
	}

	li {

		@include breakpoint(sm){
			&:not(:first-child):before {
				content: "-";
			}
		}

		a {
			color: $gray;
			display: inline-block;
			vertical-align: middle;
			letter-spacing: 0.009em;

			&:hover {
				background: none;
				color: $text-color;
			}
		}
	}
}

.ba-copyright {
	padding-top: 10px;
	margin-left: 116px;
}

.ba-socials {
	float: right;
	ul {
		list-style: none;

		li {
			display: inline-block;
			margin-left: 18px;
		}
	}
}
