@import "bootstrap-variables";
@import "bootstrap-custom";
@import "nav";


@import "slick.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,800');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');


img{
	max-width: 100%;
	height: auto;
}

body{
	font: 400 14px/2.2 'Open Sans', sans-serif;
	background-color: #ffffff;
	color: #60606e;
}

.ba-intro {
	background: #ebebeb url(../img/bg.jpg) 50% 100%;
	background-size: cover;

}

.ba-intro__body {
	padding: 188px 0 165px;
}

.ba-flex-row {
	display: flex;
	flex-wrap: wrap;
}

.ba-title {
	color:  rgba(96, 96, 110, 0.9);

	font: 700 30px/1.6 Montserrat, sans-serif;
}

.ba-subtitle {
	font-family: $font-family-base;
	font-weight: 800;
	margin: 0 0 16px;
	text-transform: uppercase;
}


.ba-benefit-title {
	color:  rgba(96, 96, 110, 0.9);

	font: 700 18px/1.6 Montserrat, sans-serif;
}

.ba-section {
	padding-top: 140px;

	&__head{
		text-align: center;
		margin: 0 auto 90px;
		padding-top: 6px;
		max-width: 750px;
	}

	&__title{
		margin-bottom: 8px;
	}
}

.ba-title span {
	display: inline-block;
	position: relative;
}

.ba-title span:before {
	position: absolute;
	content: "";
	background-color: $brand-primary;
	width: 68px;
	height: 21px;
	z-index: -1;
	left: 0;
	bottom: 3px;
}

.ba-benefits{

	&-column{
		margin-bottom: 44px;
	}
}

.ba-benefit{
	&-title{
		margin: 0 0 10px;
		text-transform: uppercase;
		&__icon{
			display: inline-block;
			font-size: 30px;
			background-color: $brand-primary;
			width: 40px;
			height: 40px;
			color: #FFF;
			line-height: 42px;
			text-align: center;
			vertical-align: middle;
			margin-right: 13px;
		}
		&__text{
			vertical-align: middle;
			display: inline-block;
			line-height: 1.1;
			font-size: 18px;
			width: calc(100% - 64px);
		}
	}
}

.ba-section {
	padding-top: 140px;

	&__head{
		text-align: center;
		margin: 0 auto 90px;
		padding-top: 6px;
		max-width: 750px;
	}

	&__title{
		margin-bottom: 8px;
	}
}

.ba-team-column {
	margin-bottom: 30px;
}

.ba-client{

	&__member{
		text-align: center;
		border: solid 1px rgba(0,0,0,.1);

		height: 100px;
    	padding: 10px 20px;
	}

	&-column{
		margin-bottom: 32px;

		img{
			max-width: 100%;
		}
	}

}


.ba-read-more{
	background:  rgba(96, 96, 110, 0.1);
	padding: 50px 30px;
	margin-top: 30px;
	button{
		float: right;
		padding: 0 40px;

		height: 50px;
	}

	p{
		float: left;
		font-size: 18px;

		line-height: 48px;

		margin: 0;
		font-style: italic;
	}

}



.slick{
	&-dots{
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;

		li{
			display: inline-block;

			button{
				background-color: #60606e;
				width: 16px;
				height: 5px;
				bottom: 0;
				overflow: hidden;
				margin-left: 5px;
			}

			&.slick-active{
				button{
					width: 32px;
					background-color:  $brand-primary;
				}
			}
		}
	}
}

