<footer class="ba-footer">
	<div class="container">
		<!-- BEGIN row  -->
		<div class="row">
		    <!-- BEGIN col-md-8  -->
		    <div class="col-md-7">
		        <nav>
		        	<ul class="nav navbar-nav ba-footer-menu">
		        	  <li>
		        	    <a href="index.html">
		        	      HOME
		        	    </a>
		        	  </li>

		        	  <li>
		        	    <a href="about.html">
		        	      ABOUT US
		        	    </a>
		        	  </li>

		        	  <li>
		        	    <a href="services.html">
		        	      SERVICES
		        	    </a>
		        	  </li>

		        	  <li>
		        	    <a href="blog.html">
		        	      PORTFOLIO
		        	    </a>
		        	  </li>

		        	  <li>
		        	    <a href="blog.html">
		        	      BLOG
		        	    </a>
		        	  </li>

		        	  <li>
		        	    <a href="contact.html">
		        	      CONTACT US
		        	    </a>
		        	  </li>

		        	</ul>
		        </nav>
		    </div>
		    <!-- END col-md-8 -->

		    <!-- BEGIN col-md-4  -->
		    <div class="col-md-5 col-md-4">
		        <p class="ba-copyright">
		        	CREATED BY AKHOUAD 2016. ALL RIGHTS RESERVED
		        </p>
		        <!-- BEGIN ba-socials  -->
		        <div class="ba-socials">
		            <ul>
		            	<li><a href="#"><i class="ion-social-facebook"></i></a></li>
		            	<li><a href="#"><i class="ion-social-twitter"></i></a></li>
		            	<li><a href="#"><i class="ion-social-youtube"></i></a></li>
		            	<li><a href="#"><i class="ion-social-linkedin"></i></a></li>
		            	<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
		            	<li><a href="#"><i class="ion-social-instagram"></i></a></li>
		            </ul>
		        </div>
		        <!-- END ba-socials -->
		    </div>
		    <!-- END col-md-4 -->
		</div>
		<!-- END row -->
	</div>
</footer>
