<!-- BEGIN ba-suscribe ba-section  -->
<section class="ba-suscribe ba-section">

	<!-- BEGIN container  -->
	<div class="container">
	    <!-- BEGIN col-md-6  -->
	    <div class="col-md-6">
	        <!-- BEGIN ba-call-to-action  -->
	        <div class="ba-call-to-action">
	            <h2>
	            	YOU THINK WE'RE COOL ? LET'S WORK TOGETHER
	            </h2>

	            <a href="#" class="btn btn--light">get in touch</a>
	        </div>
	        <!-- END ba-call-to-action -->
	    </div>
	    <!-- END col-md-6 -->

	    <!-- BEGIN col-md-6  -->
	    <div class="col-md-6">
	        <form action="#" method="post" class="ba-subscribe-form">
	        	<h3>
	        		STAY INFORMED WITH OUR NEWSLETTER
	        	</h3>
	        	<p>
	        		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	        	</p>

	        	<!-- BEGIN ba-subscribe-form__inouts  -->
	        	<div class="ba-subscribe-form__inputs">
	        	    <input class="form-control" required="" type="email" name="email" placeholder="your email">

					<button class="btn" type="submit">send</button>
	        	</div>
	        	<!-- END ba-subscribe-form__inouts -->
	        </form>
	    </div>
	    <!-- END col-md-6 -->
	</div>
	<!-- END container -->

</section>
<!-- END ba-suscribe ba-section -->
